@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: clashDisplay;
    src: url(.\assets\fonts\ClashDisplay-Variable.ttf);
}

:root{
    --heading:#25324B;
    --navLink:#515B6F;
    --banner:#F8F8FD;
    --primary:#4640DE;
    --primary-light:#E9EBFD;
    --lightBlue:#26A4FF;
    --grey:#515B6F;
    --border:#D6DDEB;
    --subtitle:#7C8493;
    --typeBadge:#56CDAD;
    --typeBadge-bg:rgba(86, 205, 173, 0.1);
    --footer-bg:#202430;
    --badge-bg:#F8F8FD;
}

/* fonts */
*{
    font-family: "Epilogue", sans-serif;
}
.clashDisplay{font-family:clashDisplay;}

/* colors - background colors */
.footer-bg{
    background-color: var(--footer-bg);
}
.badge-bg{background-color: var(--badge-bg);}
.footer-b{border-color: var(--footer-bg);}
.typeBadge{color:var(--typeBadge);}
.typeBadge-bg{background-color: var(--typeBadge-bg);}
.subtitle{color:var(--subtitle);}
.border-b{border-color: var(--border);}
.border-bg{background-color: var(--border);}
.text-border{color: var(--border);}
.heading{color:var(--heading);}
.heading-bg{background-color:var(--heading);}
.navLink{color:var(--navLink);}
.banner-bg{background-color:var(--banner);}
.primary-bg{background-color: var(--primary);}
.primary{color: var(--primary);}
.primary-b{border-color: var(--primary);}
.lightBlue{color:var(--lightBlue);}
.grey{color:var(--grey);}
.primary-light-bg{background-color: var(--primary-light);}

.page-active{
    border-radius: 8px;
    background-color: var(--primary);
    color:white;
}
